trigger:
- main

pool:
  name: local-pool

variables:
  tfVersion: '1.9.0'
  workingDir: '$(System.DefaultWorkingDirectory)/terraform'

stages:
- stage: Terraform
  jobs:
  - job: DeployInfra
    displayName: "Terraform Infrastructure Deployment"
    steps:
    - task: TerraformInstaller@0
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(tfVersion)

    - task: AzureCLI@2
      displayName: "Terraform Init/Validate/Plan"
      inputs:
        azureSubscription: 'azure-rm-terraform'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        workingDirectory: $(workingDir)
        inlineScript: |
          Write-Host "Initializing Terraform..."
          terraform init -input=false

          Write-Host "Formatting & validating..."
          terraform fmt -check
          terraform validate

          Write-Host "Planning infrastructure..."
          terraform plan -out=tfplan -var "sql_password=$env:sql_password"

    - task: AzureCLI@2
      displayName: "Terraform Apply"
      inputs:
        azureSubscription: 'azure-rm-terraform'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        workingDirectory: $(workingDir)
        inlineScript: |
          Write-Host "Applying infrastructure..."
          terraform apply -auto-approve tfplan