apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: LoadBalancer # CHANGED: Exposes backend to the internet
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80       # External port
      targetPort: 5000 # Internal Node.js port
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80